src/main/app/ftpfilelistener.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <mulexml:jaxb-context name="JAXB_Context" packageNames="com.assignment.model" doc:name="JAXB Context"/>
    <mongo:config name="Mongo_DB" username="root" database="yakDb" doc:name="Mongo DB"/>
    <flow name="FtpToMongoDb" doc:name="FtpToMongoDb" initialState="started" processingStrategy="synchronous">
        <ftp:inbound-endpoint host="localhost" port="21" path="/Users/rahuja/FTPLocation" user="rahuja" password="ahujar"  responseTimeout="10000" doc:name="FTP" mimeType="text/xml"/>
        <mulexml:jaxb-xml-to-object-transformer returnClass="com.assignment.model.Herd" jaxbContext-ref="JAXB_Context" doc:name="XML to JAXB Object"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="Extract Map of Yaks"/>
        <foreach collection="#[payload.yaks]" doc:name="For Each">
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
            <mongo:json-to-dbobject doc:name="Mongo DB"/>
            <mongo:save-object config-ref="Mongo_DB" collection="yaks" doc:name="Mongo DB"/>
        </foreach>
        
    </flow>
    <flow name="DisplayData" doc:name="DisplayData">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getYaks" doc:name="HTTP"/>
        <mongo:find-objects config-ref="Mongo_DB" collection="yaks" doc:name="Mongo DB"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[import groovy.json.*

JsonOutput.prettyPrint(payload);]]></scripting:script>
        </scripting:component>
    </flow>
</mule>
